

.bckgreen {
    background-color: LightSeaGreen;
    
}

h2,h3{
    color: LightSeaGreen;

}

h3{
    text-align: center; 
}

.pad {
    padding-left: 20px;
}



.borderbox {
    border-width: 2px;
    border-color: LightSeaGreen;
   
    padding-left: 20px;
}

.mainimg {
    width: 40%;
    float: left;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }
